<!DOCTYPE html>
<html>
<head>
<title>Admin Home</title>
<link
	href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
	rel="stylesheet">
<!-- Include Google Fonts -->
<link rel="stylesheet" type="text/css" href="adminhome.css">
</head>
<body>
	<div class=container>
		<h1>Admin Home</h1>
		<nav>
		<ul class="navigation">


				<li><form action="addsong">
					<input type="submit" value="Add Songs">
				</form>
				<br></li>

				<li><form action="viewsongs">
					<input type="submit" value="View Songs">
				</form>
				<br></li>


				<li><form action="createplaylists">
					<input type="submit" value="Create Playlist">
				</form>
				<br></li>



				<li><form action="viewplaylists">
					<input type="submit" value="View Playlists">
				</form>
				<br></li>

				<li><form action="logout">
					<input type="submit" value="Log Out">
				</form></li>
	</div>
	
	</ul>
  </nav>
	

	<footer>
		<!-- Page footer -->
		&copy; 2024 Tune Hub App. All Rights Reserved.
	</footer>
	
	




	</body>
</html>