<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" href="viewplaylists.css">
<title>VIEW PLAYLISTS</title>
<style>
    /* This removes bullet points from all unordered lists */
    ul {
        list-style-type: none;
        padding: 0; /* Optional: Removes default padding */
        margin: 0;  /* Optional: Removes default margin */
    }
</style>
</head>
<body>
   <h2>Playlist list</h2>
	<table border="1">
		<thead>
			<tr>
				<th>Name</th>
				<th>Songs</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="playlist:${playlists}">
				<td th:text="${playlist.name}"></td>
				<td>
					<ul>
						<li th:each="song:${playlist.songs}">
							<audio controls>
								<source th:src="${song.link}">
							</audio>	
						</li>
					</ul>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>
